<h1>Counter</h1>

<%= count %>

<form action="/count" method='post'>
<input type='submit' value='Count + 1'>
</form>

<form action="/count2" method='post'>
    <input type='submit' value='Count + 2'>
</form>

<form action="/reset" method='post'>
    <input type='submit' value='Reset'>
</form>